@charset  "UTF-8";

body{
    font-size: 16px;
    line-height: 50px;
    background-color: black;
}

h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    font-style: oblique;
    text-align: center;
    text-decoration: line-through;
    background-color: azure;
}

ul{
    background-color: gold;
    text-align: center;
    text-decoration: underline;
}

p{
    font-weight: 600;
    font-size: 2em;
}

.cor-fundo{
    background-color: aquamarine;
}

#lista{
    background-color: rgb(224, 224, 233);
}